.container {
  max-width: 550px;
  margin: 0 auto;
}

.headcontainer {
  border-radius: 1%;
  padding: 20px;
  padding-left: 25px;
  display: block;
  margin: 0 auto;
  font-family: "Source Code Pro", monospace;
  color: white;
  opacity: 0.9;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  margin-top: 100px;
  background-image: url("https://wallpapercave.com/wp/UiDGiSq.jpg");
  background-repeat: no-repeat;
  background-size: 1000px;
}
.bodycontainer {
  border-radius: 1%;
  padding: 10px;
  display: block;
  margin: 0 0 20px 0;
  background-color: #6191f3;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.card-body {
  padding: 0;
  font-family: "Source Code Pro", monospace;
  text-align: center;
}

.col-6 {
  text-align: center;
}

img {
  width: 250px;
  display: block;
  margin: 0 auto;
  position: relative;
  margin-top: -50px;
}
.weatherDescription {
  text-align: center;
  font-size: 25px;
  position: relative;
  top: -20px;
}
.city {
  font-size: 45px;
  text-align: left;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  overflow: hidden;
}
p.lastUpdate {
  text-align: left;
}
.actualtemp {
  position: relative;
  top: -10px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-size: 35px;
  text-align: center;
}
ul {
  text-align: center;
  padding: 0px;
}
li {
  list-style: none;
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  display: inline;
  font-weight: bold;
}

.active {
  color: white;
  cursor: default;
  text-decoration: none;
}
.celsius,
.fahrenheit {
  font-size: 15px;
  color: white;
}

.card-title {
  font-size: 15px;
  margin-bottom: 0;
}
.card {
  border: none;
}
.lastUpdate {
  text-align: center;
  font-size: 15px;
  position: relative;
  top: 10px;
}
.currentWeekday,
.currentTime,
.currentMinute {
  font-size: 30px;
  font-family: "Josefin Sans", sans-serif;
  position: relative;
  top: -20px;
}
.mushroomTop {
  width: 40px;
  margin-left: unset;
  position: absolute;
  animation-name: drive;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  margin-top: -15px;
}

@keyframes drive {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(500px);
  }
}
.mushroomBottom {
  width: 40px;
  margin-left: 500px;
  position: absolute;
  animation-name: driveBackwards;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes driveBackwards {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-500px);
  }
}

.weather-forecast {
  margin-bottom: 60px;
}

.weather-forecast h3 {
  color: black;
  font-size: 20px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  text-align: center;
  height: 15px;
  line-height: 15px;
  padding-top: 7px;
  margin-bottom: 30px;
}

.weather-forecast img {
  display: block;
  margin: 0 auto;
  width: 70px;
}

.weather-forecast-temperature {
  text-align: center;
  color: black;
  font-size: 15px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  height: auto;
  line-height: 15px;
}

.footer {
  text-decoration: underline;
  color: blue;
}
.credits {
  text-align: center;
}
